<a href="https://colab.research.google.com/github/karatasibrahim/colab_works/blob/main/Covid_DataSet_Bar_Chart_Race.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ffmpeg
!pip install bar_chart_race

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ffmpeg
  Downloading ffmpeg-1.4.tar.gz (5.1 kB)
Building wheels for collected packages: ffmpeg
  Building wheel for ffmpeg (setup.py) ... done
  Created wheel for ffmpeg: filename=ffmpeg-1.4-py3-none-any.whl size=6084 sha256=1abff0c19859b331866993bb7a491f3ebdcc833edb6efe56333bfaa5919f9e8e
  Stored in directory: /root/.cache/pip/wheels/64/80/6e/caa3e16deb0267c3cbfd36862058a724144e19fdb9eb03af0f
Successfully built ffmpeg
Installing collected packages: ffmpeg
Successfully installed ffmpeg-1.4
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bar_chart_race
  Downloading bar_chart_race-0.1.0-py3-none-any.whl (156 kB)
     |████████████████████████████████| 156 kB 12.2 MB/s
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.7/dist-packages (from bar_chart_race) (3.2.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from bar_chart_race) (1.3.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar_chart_race) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1->bar_chart_race) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->bar_chart_race) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1->bar_chart_race) (1.15.0)
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.1.0

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("corona_dat.csv")

In [ ]:
df.head()

,date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,US,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
0,1/22/2020,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1/23/2020,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2,1/24/2020,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1/25/2020,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1/26/2020,0,0,0,0,0,0,0,0,4,...,0,3,0,0,0,0,0,0,0,0

In [ ]:
df2=df[["date","China","Italy","Brazil","Spain","US","United Kingdom","France","Turkey"]]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Columns: 188 entries, date to Zimbabwe
dtypes: int64(187), object(1)
memory usage: 164.6+ KB

In [ ]:
df2.set_index("date",inplace=True)

In [ ]:
df2

           China  Italy  Brazil  Spain     US  United Kingdom  France  Turkey
date
1/22/2020    593      0       0      0      1               0       0       0
1/23/2020     98      0       0      0      0               0       0       0
1/24/2020    291      0       0      0      1               0       2       0
1/25/2020    505      0       0      0      0               0       1       0
1/26/2020    693      0       0      0      3               0       0       0
...          ...    ...     ...    ...    ...             ...     ...     ...
5/8/2020      17   4317   15895   4276  32381            5306    2228    5308
5/9/2020     148   5285   12194   3704  40777            4246     916    4680
5/10/2020     60   3122   10377   3129  24076            4193     561    4800
5/11/2020     32   2324    9852   4182  36341            4107    1224    4258
5/12/2020     31   4026   14641   2611  20723            4045    2213    4866

[112 rows x 8 columns]

In [ ]:
df_total=df2.cumsum(axis=0)

In [ ]:
df_total.head()

           China  Italy  Brazil  Spain  US  United Kingdom  France  Turkey
date
1/22/2020    593      0       0      0   1               0       0       0
1/23/2020    691      0       0      0   1               0       0       0
1/24/2020    982      0       0      0   2               0       2       0
1/25/2020   1487      0       0      0   2               0       3       0
1/26/2020   2180      0       0      0   5               0       3       0

In [ ]:
import bar_chart_race as bcr

In [ ]:
bcr.bar_chart_race(df_total,filename="covid19.mp4",figsize=(8,5),title="İbrahim - Covid19 Verileri")

In [ ]:
from IPython.display import HTML
from base64 import b64encode
mp4=open("covid19.mp4","rb").read()
data_url="data:video/mp4;base64,"+b64encode(mp4).decode()
HTML("""
<video width=400 controls>
  <source src="%s" type="video/mp4">
  </video> % data_url """)